# Virtual environment and environment variables
.env
.venv/
venv/
env/

# Compiled and cached Python files
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Databases 
*.sqlite
*.sqlite3
data-dev.sqlite
data.sqlite
